name: CI

on: [push]

jobs:
  publishing-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Update Docker hub metadata
        uses: docker://mpepping/docker-hub-metadata-github-action
        env:
          IMAGE: mariusomdev/lambda-swift
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Build
        shell: bash
        run: make build
      - name: Publish
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
          make publish
